<!-- prettier-ignore -->
{% extends "base.html" %}

<!-- prettier-ignore -->
{% load profile_tags %}

<!-- prettier-ignore -->
{% block title %}
Bookr
{% endblock %}

<!-- prettier-ignore -->
{% block heading %}
Profile
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<ul>
  <li>Username: {{ user.username }}</li>
  <li>Name: {{ user.first_name }} {{ user.last_name }}</li>
  <li>Date Joined: {{ user.date_joined }}</li>
  <li>Email: {{ user.email }}</li>
  <li>Last Login: {{ user.last_login }}</li>
  <li>Groups: {{ groups }}{% if not groups %}None{% endif %}</li>
</ul>
{% book_list user.username %}

<!-- prettier-ignore -->
{% autoescape off %}
{{ books_read_plot }}
{% endautoescape %}

<!-- prettier-ignore -->
{% endblock %}
