<!-- prettier-ignore-start -->
<!-- pretter-ignore -->
{% extends "base.html" %} {% load i18n static %}

<!-- pretter-ignore -->
{% block content %}

<!-- pretter-ignore -->
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
  <!-- pretter-ignore -->
  {% if form.errors.items|length == 1 %} {% translate "Please correct the error
  below." %} {% else %} {% translate "Please correct the errors below." %}
  <!-- pretter-ignore -->
  {% endif %}
</p>
<!-- pretter-ignore -->
{% endif %}

<!-- pretter-ignore -->
{% if form.non_field_errors %}

<!-- pretter-ignore -->
{% for error in form.non_field_errors %}
<p class="errornote">{{ error }}</p>
{% endfor %}
<!-- pretter-ignore -->
{% endif %}

<div id="content-main">
  <!-- pretter-ignore -->
  {% if user.is_authenticated %}
  <p class="errornote">
    {% blocktranslate trimmed %} You are authenticated as {{ username }}, but
    are not authorized to access this page. Would you like to login to a
    different account? {% endblocktranslate %}
  </p>
  {% endif %}

  <form action="{% url 'accounts:login' %}" method="post" id="login-form">
    {% csrf_token %}
    <div class="form-row">
      {{ form.username.errors }} {{ form.username.label_tag }} {{ form.username
      }}
    </div>
    <div class="form-row">
      {{ form.password.errors }} {{ form.password.label_tag }} {{ form.password
      }}
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
    {% url 'accounts:password_reset' as password_reset_url %}

    <!-- pretter-ignore -->
    {% if password_reset_url %}
    <div class="password-reset-link">
      <a href="{{ password_reset_url }}"
        >{% translate 'Forgotten your password or username?' %}</a
      >
    </div>
    {% endif %}
    <div class="submit-row">
      <input type="submit" value="{% translate 'Log in' %}" />
    </div>
  </form>
</div>
{% endblock %}
<!-- prettier-ignore-end -->
